<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234468991047-m4kotnutcrtfpema5h7oc2s6r21cgfro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234468991047-m4kotnutcrtfpema5h7oc2s6r21cgfro</string>
	<key>API_KEY</key>
	<string>AIzaSyDUMJxifqbydtHBwWrY12p_Fp_Cz3vXcs4</string>
	<key>GCM_SENDER_ID</key>
	<string>234468991047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yardsale.myapp</string>
	<key>PROJECT_ID</key>
	<string>yarn-sale-4352a</string>
	<key>STORAGE_BUCKET</key>
	<string>yarn-sale-4352a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234468991047:ios:e3d075d45c1530be5d5162</string>
	<key>DATABASE_URL</key>
	<string>https://yarn-sale-4352a-default-rtdb.firebaseio.com</string>
</dict>
</plist>